<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110513916252-nrioa4akk30ocoui4nchr1il6sigf7j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110513916252-nrioa4akk30ocoui4nchr1il6sigf7j6</string>
	<key>API_KEY</key>
	<string>AIzaSyDpfHk3FRFY4NtyeEJ3fyfifSWFqr8cyuE</string>
	<key>GCM_SENDER_ID</key>
	<string>110513916252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.SmartBell</string>
	<key>PROJECT_ID</key>
	<string>smartbell-839ef</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbell-839ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110513916252:ios:3bfb6bc4cc5a2e1a28d999</string>
	<key>DATABASE_URL</key>
	<string>https://smartbell-839ef.firebaseio.com</string>
</dict>
</plist>